@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --background-media: #f7f9ff;
  --hr: #848bab;
  --header-lightext: #000;
  --header-paragraph: #63687d;
  --toggle-background: #aeb3cb;
  --light-text: #848bab;
  --header-darktext: #fff;
  --background-dark: #1d1f29;
  --toggle-dark: #6cdbba;
  --background-media-dark: #20222f;
  --header-paragraph-dark: #8c98c6;
  --ball-light: #fff;
  --ball-dark: #333a55;
  --followers-background:#f2f2f2;
  --followers-dark:#252B42;
  --followers-h1:#000;
  --foll-h1-dark:#fff;
  --followers-p-dark:#8C98C6;
  --followers-p:#63687D;
  --arrow-up:#1EB589;
  --arrow-dark:#fff;

  /* linear-gradient(225deg, #40DB82 100%, #388FE7 100%); */
}

body {
  font-family: "Inter", sans-serif;
}
.dark {
  background-color: var(--background-dark);
  --toggle-background: var(--toggle-dark);
  --background-media: var(--background-media-dark);
  --header-lightext: var(--header-darktext);
  --header-paragraph: var(--header-paragraph-dark);
  --light-text: var(--header-paragraph-dark);
  --ball-light: var(--ball-dark);
  --followers-background:var(--followers-dark);
  --followers-h1:var(--foll-h1-dark);
  --followers-p:var(--followers-p-dark);
  --arrow-up:var(--arrow-dark);

}

/* mobile design */
@media only screen and (min-width: 320px) and (max-width: 480px) {
  /* media header */
  .media_header {
    height: 235px;
    background-color: var(--background-media);
    border-radius: 0px 0px 20px 20px;
    padding: 36px 25px 0 25px;
  }

  .media_header header h3 {
    color: var(--header-lightext);
  }
  .media_header header p {
    border-bottom: 1px solid var(--hr);
    line-height: 2;
    color: var(--header-paragraph);
  }
  /* nav-flex */
  .nav-flex {
    display: flex;
    justify-content: space-between;
  }
  .nav-flex p {
    color: var(--light-text);
  }
  .label {
    background-color: var(--toggle-background);
    display: flex;
    width: 50px;
    height: 26px;
    padding: 5px;
    border-radius: 50px;
    position: relative;
    align-items: center;
    justify-content: space-between;
  }
  .fa-moon-o {
    color: #f1c40f;
  }
  .fa-sun-o {
    color: #f39c12;
  }
  .ball {
    position: absolute;
    width: 22px;
    height: 22px;
    border-radius: 50px;
    background-color: var(--ball-light);
    top: 2px;
    left: 2px;
  }
  .checkbox {
    opacity: 0;
    position: absolute;
  }
  .checkbox:checked + .label .ball {
    transform: translate(24px);
  }
  /* followers */
  .followers_names div {
    /* display: flex; */
    z-index: 2;
    margin: 0 24px 0 25px;
    position: absolute;
   width: 326px;
   height: 216px;
   text-align: center;
   border-radius: 5px;
   padding: 30px;
  }
  .followers_names h1{
    line-height: 1.5;
    color: var(--followers-h1);
    font-weight: 600;
  }
  .followers_names p{
    color: var(--followers-p);
  }
  .followers_names .names{
    color: var(--followers-p);
  }
  .followers_names #arrow{
   color: var(--arrow-up);
   font-weight: 600;
  }
  .facebook_subscribe{
    top: 200px;
    background-color:var(--followers-background);
    padding: 30px;
    border-top: 3px solid #178FF5;
  }
.twitter_subscribe{
    top: 430px;
    background-color:var(--followers-background);
    border-top: 3px solid #1DA1F2;
}
.instagram_subscribe{
  top: 670px;
  background-color:var(--followers-background);
  border-top: 3px solid #DF4896;
}
.youtube_subscribe{
  top: 910px;
  background-color:var(--followers-background);
  border-top: 3px solid #C4032B;
}

  
 


}
